.icon {
  cursor: pointer;
  font-size: 24px;
  margin-left: 15px;
}

.icon:hover {
  background-color: #1c1c1c;
  border-radius: 6px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: rgb(17, 16, 16);
  border-radius: 12px;
  font-size: 16px;
  position: absolute;
  top: 30px;
  right: 0;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  border: 1px solid #2c2c2c;
}

.dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #2b2b2b;
  border-radius: 12px;
  cursor: pointer;
}

.themes-link {
  padding: 16px 16px;
}

.show-dropdown {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-content.vintage-theme {
  background-color: #898121;
}

.vintage-theme .dropdown-item:hover {
  background-color: #e7b10a;
}

.dropdown-content.purple-theme {
  background-color: #af0171;
}

.purple-theme.dropdown-item:hover {
  background-color: #f11a7b;
}

.dropdown-content.red-theme {
  background-color: #850000;
}

.red-theme.dropdown-content:hover {
  background-color: #850000;
}

.red-theme.dropdown-item:hover {
  background-color: #f1c27b;
}

.dropdown-content.gold-theme {
  background-color: rgb(211, 107, 0); /* ffd95a */
}

.gold-theme.dropdown-content:hover {
  background-color: rgb(211, 107, 0);
}

.gold-theme.dropdown-item:hover {
  background-color: #ffc93c;
  color: white;
}

.space-theme.dropdown-content {
  background-color: #001c30;
}

.space-theme.dropdown-item:hover {
  background-color: #64ccc5;
}

.space-theme.dropdown-content:hover {
  background-color: #001c30;
}

.dropdown-content.gold-theme {
  border: 1px solid #ffc93c;
}

.dropdown-content.vintage-theme {
  border: 1px solid #e7b10a;
}

.dropdown-content.space-theme {
  border: 1px solid #64ccc5;
}

.dropdown-content.red-theme {
  border: 1px solid #f1c27b;
}

.dropdown-content.purple-theme {
  border: 1px solid #f11a7b;
}
