.detail {
  border: 2px solid #00ff00;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px 15px 0px;
}

.stand-details {
  margin-top: 10px;
}

.stand-img.default-theme {
  border: 1px solid #00ff00;
}

.stand-img.vintage-theme {
  border: 1px solid #898121;
}

.stand-img.red-theme {
  border: 1px solid #dc0000;
}

.stand-img.gold-theme {
  border: 1px solid #c07f00;
}

.stand-img.space-theme {
  border: 1px solid #64ccc5;
}

.stand-img.purple-theme {
  border: 1px solid #e80f88;
}

.vintage-theme.detail {
  border: 2px solid #898121;
}

.gold-theme.detail {
  border: 2px solid #c07f00;
}

.space-theme.detail {
  border: 2px solid #64ccc5;
  box-shadow: 1p 1px 15px 1px #64ccc5;
}

.purple-theme.detail {
  border: 2px solid #e80f88;
  box-shadow: 1px 1px 15px 1px #e80f88;
}

.red-theme.detail {
  border: 2px solid #dc0000;
  box-shadow: 1px 1px 15px 1px #dc0000;
}

@media screen and (max-width: 800px) {
  .stand-details {
    display: flex;
    flex-direction: column;
  }

  .stand-img {
    width: 70%;
  }

  .detail {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 700px) {
  .stand-details {
    display: flex;
    flex-direction: row;
  }

  .detail {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 85%;
  }
}
