.stands {
  margin: 0 auto;
  width: 50%;
  height: 100vh;
}

.stands ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.stands li {
  width: 18%;
  margin-bottom: 20px;
  border: 2px solid black; /* #77037b */
  border-radius: 15px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-container {
  margin: 0 10px;
}

.page-text {
  font-size: 18px;
  font-weight: bold;
}

.stands-data img {
  width: 100px;
  height: auto;
  border-radius: 25px;
  border: 2px solid white;
}

/* .stands-data img:hover {
  border-color: #00ff00 !important;
  box-shadow: 1px 1px 15px 1px #00ff00;
} */

.pagination .stand-previous-button:hover {
  background-color: #171717;
  color: #f31559;
  border: 1px solid #f31559;
  box-shadow: 1px 1px 15px 1px;
}

.pagination .stand-next-button:hover {
  color: #00ff00;
  border: 1px solid #00ff00;
  box-shadow: 1px 1px 15px 1px;
}

.stands-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.stands {
  flex: 1;
}

.stands-data.vintage-theme {
  border: 1px solid #e7b10a;
}

.vintage-theme.stands-data:hover {
  background-color: transparent;
}

.vintage-theme.stands-data:hover {
  border-color: #e7b10a !important;
  box-shadow: 1px 1px 15px 1px #e7b10a;
}

.stands-data.gold-theme {
  border: 1px solid #e38b29;
}

.gold-theme.stands-data:hover {
  background-color: transparent;
}

.gold-theme.stands-data:hover {
  border-color: #e38b29 !important;
  box-shadow: 1px 1px 15px 1px #e38b29;
}

.stands-data.space-theme {
  border: 1px solid #dafffb;
}

.space-theme.stands-data:hover {
  background-color: transparent;
}

.space-theme.stands-data:hover {
  border-color: #dafffb !important;
  box-shadow: 1px 1px 15px 1px #dafffb;
}

.stands-data.purple-theme {
  border: 1px solid #6528f7;
}

.purple-theme.stands-data:hover {
  background-color: transparent;
}

.purple-theme.stands-data:hover {
  border-color: #6528f7 !important;
  box-shadow: 1px 1px 15px 1px #6528f7;
}

.stands-data.red-theme {
  border: 1px solid #f1c27b;
}

.red-theme.stands-data:hover {
  background-color: transparent;
}

.red-theme.stands-data:hover {
  border-color: #f1c27b !important;
  box-shadow: 1px 1px 15px 1px #f1c27b;
}

.red-theme.stand-image:hover {
  background-color: transparent;
}

.space-theme .stand-image:hover {
  background-color: transparent;
}
.gold-theme .stand-image:hover {
  background-color: transparent;
}

.vintage-theme .stand-image:hover {
  background-color: transparent;
}

.default-theme .stand-image:hover {
  background-color: transparent;
}

.purple-theme .stand-image:hover {
  background-color: transparent;
}

.stands-data.default-theme {
  border: 1px solid #00ff00;
}

.default-theme.stands-data:hover {
  background-color: transparent;
}

.default-theme.stands-data:hover {
  border-color: #00ff00 !important;
  box-shadow: 1px 1px 15px 1px #00ff00;
}

.vintage-theme-button.stand-next-button:hover {
  background-color: #e7b10a;
  color: #f7f1e5;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #b5c99a;
}

.vintage-theme-button.stand-previous-button:hover {
  background-color: #e7b10a;
  color: #c07f00;
  border: 1px solid #c07f00;
  box-shadow: 1px 1px 15px 1px #c07f00;
}

.gold-theme-button.stand-next-button:hover {
  color: #f7f1e5;
  background-color: #ffd03a;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #ffd95a;
}

.gold-theme-button.stand-previous-button:hover {
  color: #f7f1e5;
  background-color: gold;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px white;
}

.space-theme-button.stand-next-button:hover {
  color: #f7f1e5;
  background-color: #176b87;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #64ccc5;
}

.space-theme-button.stand-previous-button:hover {
  color: #f7f1e5;
  background-color: #64ccc5;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #dafffb;
}

.purple-theme-button.stand-next-button:hover {
  color: #f7f1e5;
  background-color: #e80f88;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #e80f88;
}

.purple-theme-button.stand-previous-button:hover {
  color: #f7f1e5;
  background-color: #f11a7b;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #fb2576;
}

.red-theme-button.stand-next-button:hover {
  color: #ed2b2a;
  background-color: #ffe4a7;
  border: 1px solid #fd8d14;
  box-shadow: 1px 1px 15px 1px #fd8d14;
}

.red-theme-button.stand-previous-button:hover {
  color: red;
  background-color: #fffad7;
  border: 1px solid #f86f03;
  box-shadow: 1px 1px 15px 1px #f86f03;
}
