.characters {
  margin: 0 auto;
  width: 50%;
}

.characters ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.characters li:hover {
  border-color: #f31559 !important;
  box-shadow: 1px 1px 15px 1px #f31559;
}

.characters li {
  width: 100%;
  /* box sizing iti zice ca ce dimensiune ii dai tu sa ia in calcul si padding */
  /* adica 300px card si 20px padding o sa fie 320px fara border box si 300 cu border box - te ajuta sa ai dimensiunile dorite tot timpu */
  box-sizing: border-box;
  /* margin-bottom: 20px; */
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .characters li {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 1024px) {
  .characters li {
    width: calc(33% - 20px);
  }
}

@media screen and (min-width: 1280px) {
  .characters li {
    width: calc(20% - 20px);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-container {
  margin: 0 10px;
}

.page-text {
  font-size: 18px;
  font-weight: bold;
}

.characters-data img {
  /* width: 100px; */
  height: auto;
  /* border-radius: 25px; */
  /* border: 2px solid white; */
}

/* .characters-data img:hover {
  border-color: #f31559 !important;
  box-shadow: 1px 1px 15px 1px #f31559;
} */

.pagination .previous-button:hover {
  background-color: #171717;
  color: #f31559;
  border: 1px solid #f31559;
  box-shadow: 1px 1px 15px 1px;
}

.pagination .next-button:hover {
  color: #00ff00;
  border: 1px solid #00ff00;
  box-shadow: 1px 1px 15px 1px;
}
