.characters {
  margin: 0 auto;
  width: 50%;
}

.previous-button {
  margin-right: 20px;
}

.characters ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.characters li:hover {
  border-color: #f31559 !important;
  box-shadow: 1px 1px 15px 1px #f31559;
}

.characters li {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .characters li {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 1024px) {
  .characters li {
    width: calc(33% - 20px);
  }
}

@media screen and (min-width: 1280px) {
  .characters li {
    width: calc(20% - 20px);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-container {
  margin: 0 10px;
}

.page-text {
  font-size: 18px;
  font-weight: bold;
}

.characters-data img {
  /* width: 100px; */
  height: auto;
  /* border-radius: 25px; */
  /* border: 2px solid white; */
}

/* .characters-data img:hover {
  border-color: #f31559 !important;
  box-shadow: 1px 1px 15px 1px #f31559;
} */

.pagination .previous-button:hover {
  background-color: #171717;
  color: #f31559;
  border: 1px solid #f31559;
  box-shadow: 1px 1px 15px 1px;
}

.pagination .next-button:hover {
  color: #00ff00;
  border: 1px solid #00ff00;
  box-shadow: 1px 1px 15px 1px;
}

.characters-data.vintage-theme {
  border: 1px solid #898121;
}

.vintage-theme.characters-data:hover {
  background-color: transparent;
}

.vintage-theme.characters-data:hover {
  border-color: #e7b10a !important;
  box-shadow: 1px 1px 15px 1px #e7b10a;
}

.characters-data.gold-theme {
  border: 1px solid gold;
}

.gold-theme.characters-data:hover {
  background-color: transparent;
}

.gold-theme.characters-data:hover {
  border-color: gold !important;
  box-shadow: 1px 1px 15px 1px gold;
}

.characters-data.space-theme {
  border: 1px solid #64ccc5;
}

.space-theme.characters-data:hover {
  background-color: transparent;
}

.space-theme.characters-data:hover {
  border-color: #64ccc5 !important;
  box-shadow: 1px 1px 15px 1px #64ccc5;
}

.characters-data.purple-theme {
  border: 1px solid #e80f88;
}

.purple-theme.characters-data:hover {
  background-color: transparent;
}

.purple-theme.characters-data:hover {
  border-color: #e80f88 !important;
  box-shadow: 1px 1px 15px 1px #e80f88;
}

.characters-data.red-theme {
  border: 1px solid #850000;
}

.red-theme.characters-data:hover {
  background-color: transparent;
}

.red-theme.characters-data:hover {
  border-color: #850000 !important;
  box-shadow: 1px 1px 15px 1px #850000;
}

.vintage-theme-button.next-button:hover {
  background-color: #e7b10a;
  color: #f7f1e5;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #b5c99a;
}

.vintage-theme-button.previous-button:hover {
  background-color: #e7b10a;
  color: #c07f00;
  border: 1px solid #c07f00;
  box-shadow: 1px 1px 15px 1px #c07f00;
}

.gold-theme-button.next-button:hover {
  color: #f7f1e5;
  background-color: #ffd03a;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #ffd95a;
}

.gold-theme-button.previous-button:hover {
  color: #f7f1e5;
  background-color: gold;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px white;
}

.space-theme-button.next-button:hover {
  color: #f7f1e5;
  background-color: #176b87;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #64ccc5;
}

.space-theme-button.previous-button:hover {
  color: #f7f1e5;
  background-color: #64ccc5;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #dafffb;
}

.purple-theme-button.next-button:hover {
  color: #f7f1e5;
  background-color: #e80f88;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #e80f88;
}

.purple-theme-button.previous-button:hover {
  color: #f7f1e5;
  background-color: #f11a7b;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #fb2576;
}

.red-theme-button.next-button:hover {
  color: #850000;
  background-color: #ffe4a7;
  border: 1px solid #fd8d14;
  box-shadow: 1px 1px 15px 1px #fd8d14;
}

.red-theme-button.previous-button:hover {
  color: 850000;
  background-color: #fffad7;
  border: 1px solid #f86f03;
  box-shadow: 1px 1px 15px 1px #f86f03;
}

@media screen and (min-width: 400px) {
  .page-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
