.themes {
  color: white;
  background-color: var(--app-background-color, black);
  font-family: Arial;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 80vh;
  width: 200px;
  border: 1px solid black;
  border-radius: 12px;
}

.themes-container {
  margin: 15px;
  padding: 8px;
}

.theme {
  /* margin: 10px; */
  /* padding: 6px; */
  cursor: pointer;
}

.themes-select {
  margin-bottom: 10px;
  padding: 6px;
}

.themes-build {
  padding: 6px;
}

.themes-select:hover {
  background-color: #2b2b2b;
  border-radius: 8px;
}

.themes-build:hover {
  background-color: #2b2b2b;
  border-radius: 8px;
}

.selected-item {
  border-radius: 12px;
}

.themes-wrapper {
  display: flex;
  flex-direction: row;
}

.themes-wrapper.selected-bg-color {
  background-color: var(--themes-bg-color);
}

.selected-item-wrapper {
  margin-left: auto;
  width: 80vw;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.theme-button {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 130px;
  color: black;
  background-color: transparent;
}

.options-wrapper {
  font-family: Arial;
  padding: 8px;
}

.selected-item {
  font-family: Arial;
  font-size: 22px;
  padding: 8px;
}

.option {
  margin-bottom: 5px;
  cursor: pointer;
}

.default-select button:hover {
  color: #f31559;
}

.vintage-select button {
  background-color: #898121;
  border: 1px solid #898121;
}

.vintage-select button:hover {
  color: #e7b10a;
}

.gold-select button {
  background-color: #d36b00;
  border: 1px solid #d36b00;
}

.gold-select button:hover {
  color: #ffd95a;
}

.space-select button {
  background-color: #001c30;
  border: 1px solid #001c30;
}

.space-select button:hover {
  color: #64ccc5;
}

.purple-select button {
  background-color: #790252;
  border: 1px solid #790252;
}

.purple-select button:hover {
  color: #e80f88;
}

.red-select button {
  background-color: #850000;
  border: 1px solid #850000;
}

.red-select button:hover {
  color: #fd8d14;
}

.gold-theme:hover {
  background-color: #ffd95a;
}

.vintage-theme:hover {
  background-color: #898121;
}

.space-theme:hover {
  background-color: #176b87;
}

.purple-theme:hover {
  background-color: #af0171;
}

.red-theme:hover {
  background-color: #f15a59;
}

.vintage-theme-color {
  --app-background-color: #f7f1e5;
}

.gold-theme-color {
  --app-background-color: #fff7d4;
}

.space-theme-color {
  --app-background-color: #dafffb;
}

.purple-theme-color {
  --app-background-color: #ffecec;
}

.red-theme-color {
  --app-background-color: #fff9c9;
}

.color-picker-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.color-picker-modal button {
  margin-top: 10px;
}

.chrome-picker {
  display: absolute;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

body {
  background-color: var(--app-background-color);
}
