.filter {
  display: flex;
  justify-content: flex-end;
}

.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: black;
}

.filter-button-container {
  position: relative;
}

.filter-button:hover {
  background-color: white;
}

.filter-dropdown {
  position: absolute;
  border-radius: 4px;
}

.filter-dropdown button {
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: black;
}

.filter-dropdown button:hover {
  background-color: white;
}

.filter-dropdown-button {
  font-size: 12px;
}

.filter-button.vintage-theme {
  background-color: transparent;
  border: 1px solid #898121;
}

.vintage-theme.filter-button:hover {
  background-color: #898121;
  color: white;
  border: 1px solid #898121;
}

.filter-button.gold-theme {
  background-color: transparent;
  border: 1px solid gold;
}

.filter-button.space-theme {
  background-color: transparent;
  border: 1px solid #64ccc5;
}

.space-theme.filter-button:hover {
  color: white;
}

.filter-button.purple-theme {
  background-color: transparent;
  border: 1px solid #e80f88;
}

.purple-theme.filter-button:hover {
  color: white;
}

.filter-button.red-theme {
  background-color: transparent;
  border: 1px solid #850000;
}

.red-theme.filter-button:hover {
  background-color: #f1c27b;
  border: 1px solid #f1c27b;
  color: white;
}
