.home {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.home-select img {
  margin: 40px;
  border: 2px solid black;
  border-radius: 12px;
}

.home-select img:hover {
  background-color: white;
  border: 2px solid #f31559;
  box-shadow: 0 5px 15px 5px #f31559;
}

.character-image {
  transition: filter 0.3s ease;
}

.home-select:hover .character-image:not(:hover) {
  filter: blur(3px);
}

.home-select:hover .stand-image:not(:hover) {
  filter: blur(3px);
}

.home-select .stand-image:hover {
  border: 2px solid #00ff00;
  box-shadow: 0 5px 15px 5px rgba(0, 255, 0, 0.75);
}

.space-theme.character-image:hover{
  border: 2px solid #64CCC5;
  box-shadow: 0 5px 15px 5px #64CCC5;
}

.space-theme.stand-image:hover{
  border: 2px solid #DAFFFB;
  box-shadow: 0 5px 15px 5px #DAFFFB;
}

.vintage-theme.character-image:hover{
  border: 2px solid #E7B10A;
  box-shadow: 0 5px 15px 5px #E7B10A;
}

.vintage-theme.stand-image:hover{
  border: 2px solid #F7F1E5;
  box-shadow: 0 5px 15px 5px #F7F1E5;
}

.gold-theme.character-image:hover{
  border: 2px solid #FFD95A;
  box-shadow: 0 5px 15px 5px #FFD95A;
}

.gold-theme.stand-image:hover{
  border: 2px solid #E38B29;
  box-shadow: 0 5px 15px 5px #E38B29;
}

.purple-theme.character-image:hover{
  border: 2px solid #E80F88;
  box-shadow: 0 5px 15px 5px #E80F88;
}

.purple-theme.stand-image:hover{
  border: 2px solid #6528F7;
  box-shadow: 0 5px 15px 5px #6528F7;
}

.red-theme.character-image:hover{
  border: 2px solid #C51605;
  box-shadow: 0 5px 15px 5px #C51605;
}

.red-theme.stand-image:hover{
  border: 2px solid #F1C27B;
  box-shadow: 0 5px 15px 5px #F1C27B;
}

.home.default-theme{
  background-color: #f5f5f5;
}

.home.vintage-theme-color{
  background-color: #F7F1E5;
}