.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  width: 100%;
}

.search-bar input {
  width: 500px;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 1px 1px 15px 1px;
  border-image-slice: 1;
  font-size: 1rem;
}

.input.vintage-theme-color{
  background-color: #F7F1E5;
}

.input.space-theme-color{
  background-color: #DAFFFB;
}

.input.gold-theme-color{
  background-color: #FFF7D4;
}

.input.purple-theme-color{
  background-color: #FFECEC;
}

.input.red-theme-color{
  background-color: #FFF9C9;
}