.nav {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--app-background-color, rgb(17, 16, 16));
  --characters-button-bg-color: #1c1c1c;
  padding: 16px 88px;
  color: white;
  border: 15px;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav a {
  background-clip: text;
  font-family: "Cinzel", sans-serif;
  cursor: pointer;
  width: 40px;
}

.logo {
  width: 120px;
  height: 70px;
}

#navbar-icon {
  margin: 5px;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
  list-style-type: none;
}

.navbar-list {
  width: 100%;
  list-style-type: none;
  vertical-align: middle;
  display: flex;
  flex-direction: initial;
  color: white;
  justify-content: right;
  align-items: right;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons .characters-button:hover {
  background-color: #171717;
  color: #f31559;
  border: 1px solid #f31559;
  box-shadow: 1px 1px 15px 1px;
}

button {
  color: #f6f1e9;
  border-radius: 8px;
  border: 1px solid #000;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: #1c1c1c;
  cursor: pointer;
  font-size: 16px;
  width: 120px;
  margin-left: 20px;
}

#navbar-title {
  margin-left: 5px;
}

.navbar ul li {
  display: flex;
  align-items: center;
}

.stands-button:hover {
  color: #00ff00;
  border: 1px solid #00ff00;
  box-shadow: 1px 1px 15px 1px;
}

.search {
  color: black;
}

.highlight--vintage {
  background-color: var(--vintage-button);
  border: 1px solid var(--vintage-border);
}

.space-theme-button {
  background-color: #176b87;
  border: 1px solid #176b87;
}

.red-theme-button {
  background-color: #f1c27b;
  border: 1px solid #f1c27b;
}

.purple-theme-button {
  background-color: #af0171;
  border: 1px solid #af0171;
}

.gold-theme-button {
  background-color: #ffc93c;
  border: 1px solid #ffc93c;
}

.vintage-theme-button {
  background-color: #898121;
  border: 1px solid #898121;
}

.vintage-theme-button.characters-button:hover {
  background-color: #e7b10a;
  color: #f7f1e5;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #b5c99a;
}

.vintage-theme-button.stands-button:hover {
  background-color: #e7b10a;
  color: #c07f00;
  border: 1px solid #c07f00;
  box-shadow: 1px 1px 15px 1px #c07f00;
}

.gold-theme-button.characters-button:hover {
  color: #f7f1e5;
  background-color: #ffd03a;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #ffd95a;
}

.gold-theme-button.stands-button:hover {
  color: #f7f1e5;
  background-color: gold;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px white;
}

.space-theme-button.characters-button:hover {
  color: #f7f1e5;
  background-color: #176b87;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #64ccc5;
}

.space-theme-button.stands-button:hover {
  color: #f7f1e5;
  background-color: #64ccc5;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #dafffb;
}

.purple-theme-button.characters-button:hover {
  color: #f7f1e5;
  background-color: #e80f88;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #e80f88;
}

.purple-theme-button.stands-button:hover {
  color: #f7f1e5;
  background-color: #f11a7b;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px 1px #fb2576;
}

.red-theme-button.characters-button:hover {
  color: #ed2b2a;
  background-color: #ffe4a7;
  border: 1px solid #fd8d14;
  box-shadow: 1px 1px 15px 1px #fd8d14;
}

.red-theme-button.stands-button:hover {
  color: red;
  background-color: #fffad7;
  border: 1px solid #f86f03;
  box-shadow: 1px 1px 15px 1px #f86f03;
}

@media screen and (max-width: 1600px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .jojologo {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  .search {
    width: 100%;
    margin-bottom: 10px;
  }

  .buttons {
    margin-top: 10px;
  }
}
