body {
  margin-top: 0;
  margin: 0;
  padding: 0;
  padding-top: 0;
  height: 100vh;
  --default-theme-color: #ffffff;
  --vintage-theme-color: #F7F1E5;
  --gold-theme-color: #FFF7D4;
  --space-theme-color: #DAFFFB;
  --purple-theme-color: #FFECEC;
  --red-theme-color: #FFF9C9;
}

:root {
  --selected-theme-color: ""; 
  --default-theme-color: #ffffff;
  --vintage-theme-color: #F7F1E5;
  --gold-theme-color: #FFF7D4;
  --space-theme-color: #DAFFFB;
  --purple-theme-color: #FFECEC;
  --red-theme-color: #FFF9C9;
}