body {
  margin-top: 0;
  margin: 0;
  padding: 0;
  padding-top: 0;
  height: 100vh;
  --default-theme-color: #ffffff;
  --vintage-theme-color: #f7f1e5;
  --gold-theme-color: #fff7d4;
  --space-theme-color: #dafffb;
  --purple-theme-color: #ffecec;
  --red-theme-color: #fff9c9;
  --app-background-color: #ffffff; /* Valoarea implicită pentru background-ul body-ului */
  background-color: var(--app-background-color);
}

:root {
  --selected-theme-color: "";
  --default-theme-color: #ffffff;
  --vintage-theme-color: #f7f1e5;
  --gold-theme-color: #fff7d4;
  --space-theme-color: #dafffb;
  --purple-theme-color: #ffecec;
  --red-theme-color: #fff9c9;
  background-color: var(--app-background-color);
}
